<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      New Fuelup
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-list lines="full" class="ion-no-margin">
        <ion-item>
          <ion-label position="floating">Odometer</ion-label>
          <ion-input [(ngModel)]="fuelLog.odometer" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  position="floating">Last Odomter</ion-label>
          <ion-input disabled [(ngModel)]="fuelLog.lastOdometer" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Cost/Liter</ion-label>
          <ion-input [(ngModel)]="fuelLog.costPerLiters" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Liter</ion-label>
          <ion-input [(ngModel)]="fuelLog.liter" type="number"></ion-input>
        </ion-item>
        <!-- <ion-item>
          0
          <ion-range [(ngModel)]="fuelLog.cityPercentage" min="0" max="100" value="50" pin color="secondary">
          </ion-range>
          100
        </ion-item> -->
        <ion-button (click)="saveAlert()" expand="block">Save</ion-button>
      </ion-list>    
    </ion-card-content>
  </ion-card>

</ion-content>
