<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Logs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-list lines="full" class="ion-no-margin">
        <ion-item *ngFor="let fuelLog of fuelLogs">

                <ion-label>
                  <h2>{{fuelLog.date | date: 'dd/MM/yyy'}}</h2>
                  <h4><b>Distance:</b> {{fuelLog.distance}} KM</h4>
                  <h4><b>Filled:</b> {{fuelLog.liter}} liters</h4>
                  <h4><b>Efficiency:</b> {{fuelLog.litersPerHundredKm}} l/100km</h4>
                  <h4><b>Cost:</b> {{fuelLog.total}}</h4>
                </ion-label>

        </ion-item>
      </ion-list>    
    </ion-card-content>
  </ion-card>
</ion-content>
