<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Logs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let fuelLog of fuelLogs">
    <ion-card-content>
                <ion-label>
                  <h2 align="right"><b>{{fuelLog.date | date: 'dd/MM/yyy'}}</b></h2>
                  <ion-row>
                    <ion-col class="bold" size="6">
                      Distance
                    </ion-col>
                    <ion-col size="6">
                      {{fuelLog.distance}} km
                    </ion-col>
                  </ion-row>

                  <ion-row class="bottomRow">
                    <ion-col class="bold" size="6">
                      Fuel
                    </ion-col>
                    <ion-col size="6">
                      {{fuelLog.liter}} liters
                    </ion-col>
                  </ion-row>

                  <ion-row class="bottomRow">
                    <ion-col class="bold" size="6">
                      Efficiency
                    </ion-col>
                    <ion-col size="6">
                      {{fuelLog.litersPerHundredKm}} l/100km
                    </ion-col>
                  </ion-row>

                  <ion-row class="bottomRow">
                    <ion-col class="bold" size="6">
                      Cost
                    </ion-col>
                    <ion-col size="6">
                      {{fuelLog.total}} 
                    </ion-col>
                  </ion-row>

                  <ion-row class="bottomRow">
                    <ion-col class="bold" size="6">
                      l/km
                    </ion-col>
                    <ion-col size="6">
                      {{calculateLiterKmPerL(fuelLog.distance, fuelLog.liter)}} km
                    </ion-col>
                  </ion-row>

                  <ion-row class="bottomRow">
                    <ion-col class="bold" size="6">
                      250km/l
                    </ion-col>
                    <ion-col size="6">
                      {{calculateLPer250Km(fuelLog.distance, fuelLog.liter)}} l
                    </ion-col>
                  </ion-row>
                  <ion-button size="small" (click)=removeLogAlert(fuelLog.date)><ion-icon name="trash-outline"></ion-icon></ion-button>
                </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
