<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Logs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let fuelLog of fuelLogs">
    <ion-card-content>
                <ion-label>
                  <h2 align="right"><b>{{fuelLog.date | date: 'dd/MM/yyy'}}</b></h2>
                  <h4><b>Distance:</b> {{fuelLog.distance}} KM</h4>
                  <h4><b>Filled:</b> {{fuelLog.liter}} liters</h4>
                  <h4><b>Efficiency:</b> {{fuelLog.litersPerHundredKm}} l/100km</h4>
                  <h4><b>Cost:</b> {{fuelLog.total}}</h4>
                  <ion-button size="small" (click)=removeLogAlert(fuelLog.date)><ion-icon name="trash-outline"></ion-icon></ion-button>
                </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
